.filter-list-container{
	// grid-area: list;
	// width: 50vw;
	display:grid;
	grid-template-columns: 4rem 10rem 6rem 7rem auto 6rem 4rem;
	margin: 0 3rem 0 0;
	column-gap: 1rem;
	& .filter-list-button{
		color: #c9cacc;
	}
}