/* Item Styles  */
.item-value {
  &:active, &:focus {
    filter: drop-shadow(2px 4px 6px black);
  }
  & .item-ul {
    background-color: #fff;
    display: grid;
    grid-template-columns: 4rem 10rem 6rem 7rem auto 6rem 4rem;
    column-gap: 1rem;
    justify-items: stretch;
    padding: 1rem 0 1rem 0;
    margin: 1rem 2rem 1rem 0;
    border-radius: 0.5rem;
    cursor: pointer;

    & .item-number {
      justify-self: end;
    }

    & .item-subject {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  & + .request-details-column {
    grid-area: details;
  }
}
