/** Index.js Body Styles */
$background-color: #f7f7f8;
$item-color: #fff;
body {
  // overflow: hidden;
  
  background-color: $background-color;
  & ul {
    list-style: none;
    padding: 0 0 0 0;
  }
};
::selection{
    background: #f8005f7c
  };